body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #0a0a0a;
}

h1 {
    text-align: center;
    color: #f8f5f5;
}

.invoice-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #e7e6df;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invoice-details label {
    flex: 1 1 calc(50% - 40px);
    margin: 10px;
    color: #333;
    font-weight: bold;
    
}

.invoice-details input {
    width: calc(100% - 20px);
    padding: 5px;
    border: 1px solid #120909;
    border-radius: 2px;
}

.table-container {
    overflow-y: auto;
    max-height: 400px;
    background-color: #e7e6df;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    
}

table, th, td {
    border: 1px solid #080808;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #f0efeb;
    color: #101010;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9b9a99;
}

.child-table {
    width: 100%;
    margin-top: 10px;
    background-color: #b6b5b1;
}

.child-table th, .child-table td {
    border: 1px solid #0f0f0f;
    padding: 5px;
}

.child-table th{
    background-color: #7c7a7a;
}

h2 {
    text-align: center;
    color: #f7f5f5;
}



